﻿@model IEnumerable<BankService.Web.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PinCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.PinCode)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.UserName">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
