﻿@model BankService.Web.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Számla</h1>

<div>
    <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.User.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>

        </dl>
</div>
<div>
    @if (Model.User.TwoFactorEnabled == false)
    {
        <a asp-action="InvoiceHistory" asp-route-id="@Model.AccountNumber">Számla Történet</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="SecureLogin" asp-route-UserName="@Model.UserName" asp-route-id="@Model.AccountNumber">Számla Történet    </a>
    }

    @if (Model.User.TwoFactorEnabled == false && Model.Amount > 0 && !Model.Locked)
    {
        <a asp-action="Transfer" asp-route-Amount="@Model.Amount" asp-route-id="@Model.AccountNumber">Átutalás    </a>
    }
    else if(Model.Amount <= 0 || Model.Locked)
    {
        <a>Átutalás nem aktív</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="SecureLogin" asp-route-UserName="@Model.UserName" asp-route-id="@Model.AccountNumber" asp-route-Amount="@Model.Amount">Átutalás</a>
    }
    

    <a asp-action="Index" asp-route-UserName="@Model.UserName">Vissza</a>
</div>
