﻿@model IEnumerable<BankService.Web.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h1>Számlái</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Számla létrejötte</a>
            </th>
            <th>
                <a>Számlaszám</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AccountNumber">Számla</a>
            </td>
        </tr>
}
    </tbody>
</table>
