﻿@model IEnumerable<BankService.Web.Models.Transaction>

@{
    ViewData["Title"] = "InvoiceHistory";
}

<h1>Számlatörténet</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <a>Tranzakció típusa</a>
            </th>
            <th>
                <a>Céltulajdonos neve</a>
            </th>
            <th>
                <a>Tranzakció időpontja</a>
            </th>
            <th>
                <a>Tranzakció összege</a>
            </th>
            <th>
                <a>Utaló számlaszáma</a>
            </th>
            <th>
                <a>Céltulajdonos számlaszáma</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Type == TransactionType.Transfer)
                    {
                        <a>Átutalás</a>
                    }
                    else if (item.Type == TransactionType.Deposit)
                    {
                        <a>Pénz betét</a>
                    }
                    else if (item.Type == TransactionType.Withdraw)
                    {
                        <a>Pénz kivét</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNameTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountNumberFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountNumberTo)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Details" asp-route-id ="@ViewBag.id">Vissza</a>
</div>
