﻿@model BankService.Web.Models.Transaction

@{
    ViewData["Title"] = "Transfer";
}

<h1>Átutalás</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Transfer" asp-route-Amount="@ViewBag.Amount" asp-route-id="@ViewBag.id" asp-route-date="@DateTime.Now">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserAccountNumberFrom" class="form-control" value="@ViewBag.id" hidden />
            </div>
            <div class="form-group">
                <label class="control-label">Céltulajdonos számlaszáma</label>
                <input asp-for="UserAccountNumberTo" class="form-control" />
                <span asp-validation-for="UserAccountNumberTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Type" class="form-control" value="Transfer" hidden />
            </div>
            <div class="form-group">
                <label class="control-label">Céltulajdonos</label>
                <input asp-for="FullNameTo" class="form-control" />
                <span asp-validation-for="FullNameTo" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <input asp-for="Date" class="form-control" value="@DateTime.Now" hidden />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label class="control-label">Átutalandó összeg</label>
                <input asp-for="Amount" class="form-control" min="1" max="@ViewBag.Amount"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Átutal" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@ViewBag.id">Vissza</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
