﻿@model SecureLoginViewModel
@{
    ViewData["Title"] = "Megerősítés";
}

<h2>Megerősítés</h2>

<div class="row">
    <div class="col-md-5">
        <form asp-controller="Account" asp-action="SecureLogin" asp-route-UserName="@ViewBag.UserName" asp-route-id="@ViewBag.Id" asp-route-Amount="@ViewBag.Amount" asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button class="btn btn-default" type="submit">Megerősít</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
