﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BankService.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="header">
        <div class="headerText">
            <h1>
                WAF-BANK
            </h1>
        </div>
        <div class="headerAdmin">
            @if (ViewBag.CurrentGuestName == null)
            {
                <table>
                    <tr>
                        <td>
                            <a asp-controller="Account" asp-action="Login">Bejelentkezés</a>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <table>
                    <tr>
                        <td colspan="2">
                            Üdvözöljük, @ViewBag.CurrentGuestName!
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-controller="Account" asp-action="Logout">Kijelentkezés</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr></tr>
                </table>
            }
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - BankService.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
