﻿body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    margin: 0pt;
    padding: 0pt;
}

div.header {
    color: #ffffff;
    text-align: left;
    background-color: #2266aa;
    border-bottom: 1pt solid #000000;
    height: 50pt;
    width: 100%;
    padding: 0pt;
    margin: 0pt;
}

div.headerText {
    float: left;
}

    div.headerText h1 {
        font-size: x-large;
        padding: 8pt 0pt 2pt 8pt;
        margin: 0em;
    }

    div.headerText h3 {
        font-size: small;
        text-decoration: none;
        padding: 0pt;
        padding-left: 8pt;
        margin: 0em;
    }

div.headerAdmin {
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    float: right;
    padding: 5pt;
}

    div.headerAdmin td {
        padding: 2pt 5pt 2pt 5pt;
    }

    div.headerAdmin a {

        color: #aaccff;
        text-decoration: underline;
    }

        div.headerAdmin a:hover {
            color: #ffffff;
            text-decoration: underline;
        }



input.button {
    border: 1pt solid #000000;
    background-color: #2266aa;
    padding: 2pt 4pt 2pt 4pt;
    color: #ffffff;
    font-weight: bold;
}

.failureNotification {
    align-content: center;
    font-size: 100%;
    font-weight: bold;
    line-height: 14pt;
    color: Red;
    line-height: 14pt;
    vertical-align: top;
    text-decoration: none;
    padding-bottom: 5pt;
    padding-top: 10pt;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}